<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="vh-100 d-flex flex-column">
  <nav class="navbar bg-primary" data-bs-theme="dark">
    <%- include('./partials/nav'); %>
  </nav>
  <div class="container-fluid d-flex flex-grow-1 w-100">
    <div class="row flex-grow-1">
      <div class="col">
        <%- include('./partials/schemaForm', { data: data }) %>
      </div>
      <div class="col p-0">
        <%- include('./partials/result'); %>
      </div>
    </div>
  </div>
  <%- include('./partials/footer'); %>
</body>

</html>